.contenedor {
  background-color: blueviolet;
  width: 30em;
  height: 50em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pantalla {
  background-color: black;
  width: 28em;
  height: 20em;
  padding-top: 1em;
  margin-bottom: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visor {
  background-color: grey;
  color: grey;
  width: 26em;
  height: 18em;
}
span {
  color: white;
  padding-top: 0.5em;
  display: flex;
}
.nombreConsola {
  display: flex;
}
.nintendo {
  width: 5em;
  height: 1.5em;
  text-align: center;
  color: rgb(106, 33, 173);
  padding-top: 0.3em;
  border: solid 0.3em;
  border-color: rgb(106, 33, 173);
  display: inline;
  border-radius: 2em;
}
.inferior {
  width: 28em;
  height: 22em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cruceta {
  width: 9em;
  height: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-left: 1em;
}
.up,
.down {
  background-color: gray;
  width: 3.1em;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sides {
  background-color: gray;
  width: 9em;
  height: 3.1em;
  display: flex;
}
.midPanel,
.center {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circulo {
  background-color: rgb(112, 110, 110);
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.2em;
  border: solid rgb(66, 66, 66);
  border-radius: 6em;
}
.arrowup {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid rgb(112, 110, 110);
  margin-top: 0.2em;
}
.arrowdown {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid rgb(112, 110, 110);
  margin-top: 0.9em;
}
.arrowleft {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid rgb(112, 110, 110);
  margin-left: 0.2em;
}
.arrowright {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid rgb(112, 110, 110);
  margin-left: 0.9em;
}
.botonesAB {
  width: 9em;
  height: 9em;
  display: flex;
  flex-wrap: wrap;
  margin-left: 6em;
  margin-top: 3em;
}
.botA,
.botB {
  background-color: gray;
  width: 4.5em;
  height: 4.5em;
  border-radius: 3em;
  color: rgb(112, 110, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botA {
  margin-left: 4.5em;
}
.centrar {
  font-size: xx-large;
  color: rgb(112, 110, 110);
}
.selectstart {
  width: 8em;
  height: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 11em;
  margin-top: 2em;
}

.SS {
  background-color: rgb(112, 110, 110);
  width: 2.5em;
  height: 1em;
  border-radius: 3em;
}
.select {
  margin-right: 1.6em;
}
.botonStart {
  margin-right: 0.7em;
}
.letraSS {
  color: black;
  width: 3.5em;
  height: 2em;
  font-size: small;
}
.start {
  margin-left: 0.9em;
  text-align: center;
  padding-left: 0.7em;
}
#c {
  margin-left: 0.5em;
  color: red;
}
#o1 {
  color: blueviolet;
}
#l {
  color: green;
}
#o2 {
  color: yellow;
}
#r {
  color: blue;
}
a:link,
a:visited {
  background-color: grey;
  color: white;
  width: 26em;
  height: 18em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
